*::first-letter {
    text-transform: uppercase;
}


.container {
    margin-left: 175px;
    margin-top: 50px;
}


table,
th,
td {
    text-align: center;
}

table td {
    font-weight: 400;
    vertical-align: middle;


}

.badge{
    width:75px;
}

.bg-primary {
    background-color: #5DADE2 !important;
}

.bg-warning {
    background-color: #F5B041 !important;
}

table th {
    font-weight: 500;
    background-color: #1a5276;
    color: white;
}

table tr:hover {
    background-color: #ddd;
}

i {
    margin: 5px;
    font-weight: bold;
    font-size: 15px;

}

.lni-pencil {
    color: #4BCA81;
}

.badge {
    padding: 5px;
    color: white;
    font-size: 12px;
    font-weight: 500;
}


.lni-trash-can {
    color: #e71d34;
}