*::first-letter {
    text-transform: uppercase;
}


.container {
    margin-left: 175px;
    margin-top: 50px;
}


table,
th,
td {
    text-align: center;

}

table th {
    font-weight: 500;
    background-color: #1a5276;
    color: white;
}

table tr:hover {
    background-color: #ddd;
}

i {
    margin: 5px;
    font-weight: bold;
    font-size: 15px;

}

.lni-pencil {
    color: #4BCA81;
}


.lni-trash-can {
    color: #e71d34;
}