
<div class="container-fluid">
    <h1 class="text-center">Ticket</h1>

    <div class="btn btn-dark" (click)="toAdd()">Créer un ticket </div>

    <div class="row">
        <div class="col-md-10">

            <div class="form-group text-right">
                <label for="">Triez par : </label>
                <select [formControl]="option" class="form-select" aria-label="Default select example">
                    <option value="date" [selected]="true">Date</option>
                    <option value="statut">Statut</option>
                    <option value="manuel">Manuel</option>
                    <option value="departement">Departement</option>
                </select>
            </div>

            <table *ngIf="(tickets.length>0);else vide" class="table table-bordered">
                <thead>
                    <tr class="home">
                        <th scope="col">Sujet</th>
                        <th scope="col">Departement</th>
                        <th scope="col">Client</th>
                        <th scope="col">Etat</th>
                        <th scope="col">date</th>
                        <th scope="col">Manuel</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>


                <tbody>

                    <tr *ngFor="let ticket of ticketsFilter | paginate: { 
                        itemsPerPage: 5,
                        currentPage :p,
                        totalItems: tickets.length}">
                        <td scope="row">  <i *ngIf="verify(ticket._id)&& ticket.statut!='resolu'" style="color: red;" class="bx bx-info-circle"></i> {{ ticket.sujet }}</td>
                        <td> {{ ticket.departement?.nom }}</td>
                        <td> {{ ticket.nomClient }}</td>
                        <td>
                            <span class="badge bg-secondary" *ngIf="ticket.statut=='en attente'">{{ ticket.statut
                                }}</span>
                            <span class="badge bg-warning" *ngIf="ticket.statut=='a faire'">{{ ticket.statut }}</span>
                            <span class="badge bg-primary" *ngIf="ticket.statut=='en cours'">{{ ticket.statut }}</span>
                            <span class="badge bg-success" *ngIf="ticket.statut=='resolu'">{{ ticket.statut }}</span>

                        </td>
                        <td> {{ ticket.date | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td> {{ ticket.manuel }}</td>
                        <td>
                            <i class="lni lni-more-alt" (click)="detail(ticket._id)"></i>
                            <i *ngIf="ticket.statut=='en attente'" class="bx bx-check-square"
                                (click)="confirmer(ticket._id)"></i>
                            <i class="lni lni-trash-can" data-toggle="modal" data-target="#my-modal"></i>
                            <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content border-0">
                                        <div class="modal-body p-0">
                                            <div class="card border-0 p-sm-3 p-2 justify-content-center">
                                                <div class="card-header pb-0 bg-white border-0 ">
                                                    <div class="row">
                                                        <div class="col ml-auto"><button type="button" class="close"
                                                                data-dismiss="modal" aria-label="Close"> <span
                                                                    aria-hidden="true">&times;</span> </button></div>
                                                    </div>
                                                    <p class="font-weight-bold mb-2"> Are you sure you wanna delete this
                                                        ?</p>
                                                    <p class="text-muted "> This change will reflect in your portal
                                                        after an hour.</p>
                                                </div>
                                                <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                                                    <div class="row justify-content-end no-gutters">
                                                        <div class="col-auto"><button type="button"
                                                                class="btn btn-light text-muted"
                                                                data-dismiss="modal">Cancel</button></div>
                                                        <div class="col-auto"><button type="button"
                                                                (click)="supprimer(ticket._id)"
                                                                class="btn btn-danger px-4"
                                                                data-dismiss="modal">Delete</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <i class="lni lni-pencil" (click)="goToUpdate(ticket._id)"></i>

                        </td>
                    </tr>
                </tbody>
            </table>
                <pagination-controls class="paginator" previousLabel="Retour" nextLabel="Suivant" (pageChange)="p = $event">
                </pagination-controls>

            <ng-template #vide>
                <h3 class="text-center">Il n'y a pas de ticket.</h3>
            </ng-template>

        </div>
        <div class="col-md-2">
            <section id="sidebar">
                <form [formGroup]="form">
                    <div class="py-3">
                        <h5 class="font-weight-bold">Categories</h5>
                        <div class="brand">
                            <div *ngFor="let dep of departementsArray"
                                class="form-inline d-flex align-items-center py-1">
                                <label class="tick">{{dep.nom}}<input type="checkbox" [value]="dep.nom"
                                        (change)="onCheckboxChange(departements,$event)"> <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <h5 class="font-weight-bold">Brands</h5>
                        <div class="brand">
                            <div class="form-inline d-flex align-items-center py-1" *ngFor="let statut of statutsArray">
                                <label class="tick"> {{statut}}<input type="checkbox" [value]="statut"
                                        (change)="onCheckboxChange(statuts,$event)"> <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <h5 class="font-weight-bold">Brands</h5>
                        <div class="brand">
                            <div class="div-inline d-flex align-items-center py-1" *ngFor="let manuel of manuelsArray">
                                <label class="tick"> {{manuel}}<input type="checkbox" [value]="manuel"
                                        (change)="onCheckboxChange(manuels,$event)"> <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <h5 class="font-weight-bold">Rating</h5>
                        <div class="rating">
                            <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span
                                        class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                        class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                        class="fas fa-star"></span> <input type="checkbox"> <span class="check"></span>
                                </label> </div>
                            <div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span
                                        class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                        class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                        class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span
                                        class="check"></span> </label> </div>
                            <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span
                                        class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                        class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span>
                                    <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span
                                        class="check"></span> </label> </div>
                            <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span
                                        class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                        class="far fa-star px-1 text-muted"></span> <span
                                        class="far fa-star px-1 text-muted"></span> <span
                                        class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span
                                        class="check"></span> </label> </div>
                            <div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span
                                        class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span>
                                    <span class="far fa-star px-1 text-muted"></span> <span
                                        class="far fa-star px-1 text-muted"></span> <span
                                        class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span
                                        class="check"></span> </label> </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>




    </div>


</div>
