<div class="container contenu">
    <h1 class="page-title text-center">Ticket</h1>
    <div class="btn btn-dark" (click)="toAdd()">Créer un ticket </div>
    <br><br>
    <table *ngIf="(tickets.length>0);else vide" class="table table-bordered" >
        <thead>
            <tr class="home">
                <th scope="col">Sujet</th>
                <th scope="col">Departement</th>
                <th scope="col">Client</th>
                <th scope="col">Etat</th>
                <th scope="col">date</th>
                <th scope="col">Manuel</th>
                <th scope="col">Action</th>
            </tr>
        </thead>


        <tbody>

            <tr *ngFor="let ticket of tickets">
                <td scope="row"> {{ ticket.sujet }}</td>
                <td> {{ ticket.departement?.nom }}</td>
                <td> {{ ticket.nomClient }}</td>
                <td> {{ ticket.statut }}</td>
                <td> {{ ticket.date | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td> {{ ticket.manuel }}</td>
                <td>
                    <i class="lni lni-more-alt" (click)="detail(ticket._id)"></i>
                    <i *ngIf="ticket.statut=='en attente'" class="bx bx-check-square" (click)="confirmer(ticket._id)"></i>
                    <i class="lni lni-trash-can" (click)="supprimer(ticket._id)"></i>
                    <i class="lni lni-pencil" (click)="goToUpdate(ticket._id)"></i>

                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #vide>
        <h3 class="text-center">Il n'y a pas de ticket.</h3>
    </ng-template>


</div>

<app-sidebar></app-sidebar>