<div class="container contenu">
    <h2 class="page-title">Sous categorie</h2>
    <div class="btn btn-dark" (click)="toAdd()">Créer une sous categorie </div>
    <br><br>
    <table *ngIf="(subcategories.length>0);else vide" class="table ">
        <thead>
            <tr class="home">
                <th>ID</th>
                <th>Titre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subcategory of subcategories">
                <td>{{subcategory._id }}</td>
                <td>{{ subcategory.title }}</td>
                <td>
                    <i class="lni lni-pencil" (click)="goToUpdate(subcategory._id)"></i>
                    <i class="lni lni-trash-can" (click)="onDelete(subcategory._id)"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #vide>
        <h3 class="text-center">Il n'y a pas de sous categorie.</h3>
    </ng-template>


</div>

<app-sidebar></app-sidebar>