<!-- <ul>
    <li  *ngFor="let notif of notifications"  [ngStyle]="{'color':notif.lue?'grey':'black' }" >
        {{notif.envoyeur.nomEmp}}
        {{notif.envoyeur.nomEmp}}
        {{notif.contenu}}
        {{notif.lue}}
        {{notif.date | date: 'dd/MM/yyyy HH:mm:ss'}}
        <div class="btn btn-primary" (click)="confirmer(notif)" >Confirmer</div>
        <div class="btn btn-dark" (click)="supprimer(notif)">Supprimer</div>

    </li>
</ul>

<div class="btn btn-warning" (click)="marquer()">Marquer</div> -->


<!-- Navbar-->
<!-- Navbar -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown notification-ui show">
                        <a class="nav-link dropdown-toggle notification-ui_icon" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="unread-notification"></span>
                        </a>
                        <div class="dropdown-menu notification-ui_dd show" aria-labelledby="navbarDropdown">
                            <div class="notification-ui_dd-header">
                                <h3 class="text-center">Notification</h3>
                            </div>

                            <div class="notification-ui_dd-content" *ngFor="let notif of notifications">
                                <div class="notification-list">

                                    <div class="notification-list_detail">
                                        <p><b>{{notif.envoyeur.nomEmp}}</b> </p>
                                        <div *ngIf="notif.contenu=='invitation';else not">
                                            <div class="btn btn-primary" (click)="confirmer(notif)" >Confirmer</div>
                                            <div class="btn btn-dark" (click)="supprimer(notif)">Supprimer</div>
                                        </div>
                                        <ng-template #not>
                                            {{notif}}
                                        </ng-template>
                                        <p><small>{{notif.date}}</small></p>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Navbar -->
<!-- Navbar -->