*::first-letter {
  text-transform: uppercase;
}

.upper-bar {
  background-color: #F2F3F4;
  padding: 20px;
  width: 100%;
  height: 75px;
}


.icons{
  position: fixed;
  top: 25px;
  right: 15px;
  display: flex;
  float: right;
}

.icons > div{
  margin: 0px 15px;
}

.icons i {
  font-size: 25px;
  font-weight: 500;
}





.name p {
  color: #154360;
  font-size: 12px;
  text-transform: capitalize;
  
}

.upper-bar .circle {
  border-radius: 50%;
  text-transform: uppercase;
  width: 38px;
  height: 38px;
  padding: 7px 10px;
  background: #5D6D7E;
  color: #ffff;
  text-align: center;
  font: 22px Arial, sans-serif;
}

.dropdown-item .circle {
  border-radius: 50%;
  background: #424949;
  color: #ffff;
  font: 22px Arial, sans-serif;
  margin-top: 5px;
}

.bx-info-circle {
  left: 15px;
  text-align: center;
}




.upper-bar span {
  margin-right: 10px;
}





.bx-bell,.bx-message-rounded {
  position: relative;
  cursor: pointer;
}

.badge-danger {
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
}

.dropdown-header {
  margin-top: -10px;
  background-color: #2E86C1;
  color: white;
  font-weight: 500;
}

.dropdown-menu {
  position: absolute;
  margin-top: 25px;
  max-height: 280px;
  width: 400px;
  overflow-y: auto;
  left: 90% !important;
  transform: translate(-50%, 0) !important;

}

.dropdown-item {
  display: flex;
  justify-content: left;
  cursor: pointer;
  font-weight: 400;
}

.dropdown-item p {
  font-weight: 200;
}



.dropdown-item .btn-sm {
  margin: 0px 2px;
}

.btn-secondary {
  background-color: #B2BABB;
}

.btn-primary {
  background-color: #3498DB;
}

.data {
  white-space: pre-line;
  margin-left: 25px;
}


.dropdown-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgray;
}


ul {
  list-style-type: none
}

li p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-right: 15px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-bottom: 2px;


}

a::first-letter,
p::first-letter {
  text-transform: uppercase;
}

li {
  margin: 25px 0px;
}

.res,
.modal-title {
  margin-left: 40px;
}

a {
  color: #21618C;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 3px;

}

/* button{
  margin-top: -10px;
} */

form{
  margin: 25px;
}

input{
  border: 1px solid grey;
  margin-bottom: 0px;
  height: 35px;
  color: #21618C;
  border-radius: 5px;  
}



mat-form-field{
  width: 350px;
}





::ng-deep .mat-form-field .mat-input-element {
  color: black;
}
::ng-deep .mat-form-field .mat-form-field-label {
  margin-top: 10px;
  margin-left: 5px;
  color: grey;
}
::ng-deep .mat-form-field .mat-form-field-underline {
  background-color: transparent;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: transparent;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
  color: transparent;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: transparent;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
  color: transparent;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: black;
}
