<div class="container contenu">
    <h2 class="page-title">Employées</h2>
    <div class="btn btn-dark" (click)="toAdd()">Créer un employé </div>
    <br><br>
    <table *ngIf="(employees.length>0);else vide" class="table ">
        <thead>
            <tr class="home">
                <th>CIN</th>
                <th>Nom complet</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let employee of employees">
                <td>{{employee.cin }}</td>
                <td>{{ employee.fullName }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td> {{ employee.adresse }}</td>
                <td> {{ employee.role }}</td>
                <td>
                    <button class="action-btn" (click)="goToUpdate(employee._id)">
                        <i class="material-icons">edit</i>
                    </button>
                    <button class="action-btn" (click)="onDelete(employee._id)">
                        <i class="material-icons">delete</i>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #vide>
        <h3 class="text-center">Il n'y a pas d'utilisateurs.</h3>
    </ng-template>


</div>