<div class="container contenu">
    <h2 class="page-title">Créer un utilisateur</h2>
    <div class="btn btn-dark" (click)="return()">Annuler</div>
    <br/><br/>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <label for="first"> Prénom</label><br>
        <input type="text" formControlName="first" class="form-control"  name="first" id="first" >
        <p></p>

        <label for="first">Nom</label><br>
        <input type="text" formControlName="last" class="form-control" name="last" id="last" >
        <p></p>

        <label for="email">CIN</label><br>
        <input type="text" formControlName="cin" class="form-control"  name="cin" id="cin" >
        <p></p>

        <label for="email">Email</label><br>
        <input type="email" formControlName="email" class="form-control"  name="email" id="email" >
        <p></p>

        <label for="password">Mot de passe</label><br>
        <input type="password" formControlName="password" class="form-control" name="password" id="password" >
        <p></p>

        <!-- <label for="password">Confirmez le mot de passe</label><br>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" >
        <p></p> -->

        <label for="phone">Téléphone</label><br>
        <input type="text" formControlName="phone" class="form-control" name="phone" id="phone">
        <p></p>

        <label for="adresse">Adrese</label><br>
        <input type="text" formControlName="adresse" class="form-control" name="adresse" id="adresse">
        <p></p>


        <label for="codeP">CodeP</label><br>
        <input type="text" formControlName="codeP" class="form-control" name="codeP" id="codeP">
        <p></p>


        <label for="cars">Role</label>
        <select name="role" formControlName="role" class="form-select" aria-label="Default select example">
            <option value="0">Admin</option>
            <option value="1">Technicien</option>
            <option value="2">Gestionnaire</option>
          </select>
          

        <button  style="margin: 20px 0; width: 150px;" type="submit" class="btn btn-dark" >Créer</button>
    </form>

</div>