<ng-container *ngIf="loading | async">
    <!-- <div class="overlay"></div> -->
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="content-wrapper">
                <div class="email-app card-margin">

                    <div class="email-list-wrapper" [ngStyle]="{'width': mailSelected ? '40%' : '100%' }">

                        <div id="email-app-body" class="email-list-scroll-container ps ps--active-y">

                            <ul class="email-list">
                                <li *ngFor="let mail of mails;let index = index" class="email-list-item"
                                    [ngClass]="{'active': mailSelected && mail.uid===mailSelected?.uid}"
                                    (click)='select(mail)'>
                                    <div class="recipient">
                                        <img src="../../../assets/images/client.png" alt="Profile Picture" />
                                        <p class="recipient-name">{{mail.name}}</p>
                                    </div>
                                    <p class="email-subject" *ngIf="mail.subject;else vide">{{mail.subject}}</p>
                                    <ng-template #vide>
                                        <p class="email-subject">(aucun objet)</p>

                                    </ng-template>
                                    <div class="email-footer">

                                        <div class="email-action">

                                            <i (click)="vu(mail.uid,index)" class="lni lni-checkmark"></i>

                                            <i (click)="supprimer(mail.uid,index)" class="lni lni-trash-can"></i>



                                        </div>


                                        <span class="email-time">{{mail.date | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                                    </div>
                                </li>


                            </ul>
                        </div>

                    </div>

                    <div *ngIf="mailSelected" class="email-desc-wrapper">
                        <div class="email-header">
                            <div class="email-date">{{mailSelected.date | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
                            <div class="email-subject" *ngIf="mailSelected.subject ; else vide">{{mailSelected.subject}}
                            </div>
                            <ng-template #vide>
                                <div class="email-subject">(aucun objet)</div>
                            </ng-template>
                            <i class="lni lni-reply" (click)="repondre(target)"> </i>
                            <p class="recipient"><span>From:</span>{{mailSelected.name}} &lt;{{mailSelected.from}}&gt;
                            </p>
                        </div>
                        <div class="email-body">
                            <p [innerHtml]="mailSelected.body">

                            </p>

                        </div>
                        <div class="email-attachment">
                            <div class="file-info">
                                <div class="file-size">
                                    <i style="width: 25px;height: 25px;" class="lni lni-paperclip"></i>
                                    <span>Attachment</span>
                                </div>

                            </div>
                            <ul class="attachment-list">
                                <li *ngFor="let attachment of mailSelected.attachments" (click)='download(attachment)'
                                    class="attachment-list-item"><img src="../../../../assets/images/file.png"
                                        alt="Showcase" title="Showcase" />
                                    {{attachment.filename}}
                                </li>

                            </ul>
                        </div>
                        <div #target>
                            <form [formGroup]="formMail" (ngSubmit)="envoyer(mailSelected)" class="email" *ngIf="show">

                                <div class="form-group">
                                    <textarea class="form-control" formControlName="textMail" id="textMail"
                                        placeholder="Rédigez votre rapport de résolution" rows="7"></textarea>
                                    <div style="margin: 5px; background: #f5f5f5"
                                        *ngFor="let file of mailFiles;let index=index">
                                        <p style="color: #0066FF;">{{file.name}}
                                            <i (click)="deleteFileMail(index)" style="font-size: 10px;color: #cc0033;
                                                " class="lni lni-close"></i>
                                        </p>
                                    </div>
                                </div>

                                <input class="btn btn-primary" type="submit" [disabled]="formMail.invalid" />
                                <i class="lni lni-comments-reply" data-toggle="modal" data-target="#exampleModal"></i>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title w-100 text-center" id="exampleModalLabel">Réponse
                                                    prédéfinies
                                                </h2>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="row">
                                                    <div class="new col-sm-4">
                                                        <p>+ Créér nouveau</p>
                                                        <form [formGroup]="formReponse" (ngSubmit)="ajouterReponse()">
                                                            <input type="text" class="form-control" name="titreReponse"
                                                                id="titreReponse" formControlName="titreReponse"
                                                                placeholder="Titre">
                                                            <textarea class="form-control" formControlName="textReponse"
                                                                id="textReponse" placeholder="Text" rows="5"></textarea>
                                                            <input type="submit" class="btn btn-secondary"
                                                                value="Ajouter" [disabled]="formReponse.invalid"
                                                                style="margin-top: 15px; margin-left: 75px;" />
                                                        </form>
                                                    </div>
                                                    <div class="col-sm-8">


                                                        <div class="card" *ngFor="let reponse of reponses"
                                                            style="width: 200px; height: 90px;  display: inline-block;">
                                                            <i class="lni lni-trash-can"
                                                                style="cursor: pointer;float: right;"
                                                                (click)="supprimerReponse(reponse._id)"></i>

                                                            <div class="card-body">
                                                                <h4 class="card-title text-left"
                                                                    style="font-weight: 500;">
                                                                    {{reponse.titre}}
                                                                </h4>
                                                                <div id="reponseBtn" class="btn-sm "
                                                                    style="margin-left: -22px; width: 200px;text-align: center;cursor:pointer ;"
                                                                    data-dismiss="modal"
                                                                    (click)="inserer(reponse.text)">+
                                                                    Insérer
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>



                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="file" name="file" id="file" multiple (change)="uploadFilesMail($event)"
                                    style="visibility: hidden;display: none;">
                                <label for="file"> <i class="lni lni-paperclip"></i></label>

                            </form>
                        </div>

                    </div>

                </div>


            </div>
        </div>

        <div *ngIf="mailSelected" class="col-sm-3">
            <h3>Créer un ticket</h3>
            <form [formGroup]="myForm" (ngSubmit)="ajouter()">
                <div class="form-group">
                    <select class="form-control" formControlName="departement">
                        {{departements}}
                        <option value="" disabled hidden selected>Sélectionnez un departement</option>
                        <option *ngFor="let dep of departements" value="{{dep._id}}">{{dep.nom}}</option>
                    </select>
                    <small>
                        <span *ngIf=" departement.invalid && departement.touched && departement.dirty">
                            Veuillez selectionner un département !
                        </span>
                    </small>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="sujet" placeholder="sujet *" class="col-md form-control"
                        name="sujet" id="sujet">
                    <small>
                        <span *ngIf=" sujet.invalid && sujet.touched && sujet.dirty"> Veuilez remplir soigneusement le
                            champs sujet
                        </span>
                    </small>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="nomClient" placeholder="Nom complet *" class="form-control"
                        name="nomClient" id="nomClient">
                    <small><span *ngIf="nomClient.invalid && nomClient.touched && nomClient.dirty"> le champs nom ne
                            doit contenir que des lettres
                        </span>
                    </small>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="siteWeb" placeholder="siteWeb *" class="form-control"
                        name="siteWeb" id="siteWeb" />
                    <small>
                        <span *ngIf=" siteWeb.invalid && siteWeb.touched && siteWeb.dirty"> veuillez entrer un lien
                            valide de votre site
                        </span>
                    </small>
                </div>
                <div class="form-group">
                    <input type="email" formControlName="emailClient" placeholder="Email *" class="form-control"
                        name="emailClient" id="email">
                    <small> <span *ngIf=" emailClient.invalid && emailClient.touched && emailClient.dirty">
                            Veuillez entrer une adresse
                            e-mail valide
                        </span>
                    </small>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="telClient" placeholder="Tel *" class="form-control" name="tel"
                        id="tel">
                    <small> <span *ngIf=" telClient.invalid && telClient.touched && telClient.dirty"> Veuillez entrer un
                            numero de telephone valide
                        </span>
                    </small>
                </div>

                <div class="form-group">
                    <input type="text" formControlName="adresse" placeholder="adresse " class="form-control"
                        name="adresse" id="adresse" />
                    <small>
                        <span *ngIf=" adresse.invalid && adresse.touched && adresse.dirty"> Veuillez entrer une adresse
                            valide </span>
                    </small>
                </div>
                <div class="form-group">
                    <textarea type="text" formControlName="description" placeholder="description *" class="form-control"
                        name="description" id="description"> </textarea>
                    <small> <span *ngIf=" description.invalid && description.touched && description.dirty"> Veuiller
                            remplir soigneusemnt le champs description
                        </span></small>
                </div>
                <div class="form-group;">
                    <input type="date" formControlName="dateLimite" name="dateLimite" class="form-control"
                        min="{{dateNow | date:'yyyy-MM-dd'}}" id="dateLimite">
                </div>
                <div class="form-group">
                    <div class="upload">
                        <label for="file" style="text-align: center; cursor: pointer;">
                            <p style="color: grey;margin-top: 15px;">
                                Déposer des fichier
                            </p>
                            <i style="font-size:50px;" class="lni lni-cloud-upload"></i>
                        </label>
                        <input type="file" name="file" multiple id="file" (change)="uploadFiles($event)"
                            style="visibility: hidden;display: none;">

                        <div class="row files">
                            <div class="col-sm-2 file" *ngFor="let file of ticketFiles;let index = index">
                                <img src="../../assets/images/file.png">
                                <i (click)="deleteFile(index)" class="lni lni-close"></i>
                                <p style="word-wrap: break-word">{{file.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <input class="btn btn-primary" [disabled]="myForm.invalid" value="Créer" type="submit" />
                </div>

            </form>
        </div>

    </div>

</div>