<form [formGroup]="myForm" (ngSubmit)="onLogin()">
    <input type="email" formControlName="email" placeholder="Email *" class="form-control" name="email" id="email">
    <small *ngIf=" email.invalid && email.touched && email.dirty">Email incorrect</small>

    <input type="password" formControlName="password" placeholder="Mot de passe *" class="form-control" name="password"
        id="password">
    <small *ngIf=" password.invalid && password.touched && password.dirty">Mot de passe incorrect</small>
    <input class="btn btn-dark" style="margin: 5px; width: 100px;" [disabled]="myForm.invalid" value="Ajouter" type="submit"/>
</form>