<app-sidebar></app-sidebar>
<div class="container">

    <div (click)="rapport()" *ngIf="employe?.role==2" class="btn btn-primary">
        Rapport
    </div>

    <div class="row">
        <div class="col-sm">
            <h1>{{ticket?.sujet}}</h1>

            <div class="row">
                <div class="info col-sm">
                    <p>Référence : <span>{{ticket?.ref}}</span></p>
                    <p>Nom : <span>{{ticket?.nomClient}}</span></p>
                    <p>Email : <span>{{ticket?.emailClient}}</span></p>
                    <p>Tel : <span>{{ticket?.telClient}}</span></p>
                    <p>Adresse : <span>{{ticket?.adresse}}</span></p>
                    <p>Site : <span>{{ticket?.siteWeb}}</span></p>

                </div>
                <div class="info col-sm">
                    <p>Département : <span>{{ticket?.departement?.nom}}</span></p>
                    <p>Employe : <span *ngIf="ticket?.employe">{{ticket?.employe?.nomEmp}}</span>
                        <span *ngIf="!ticket?.employe">---</span>
                    </p>

                    <p>Manuel : <span>{{ticket?.manuel}}</span> </p>
                    <p>Statut :
                        <span class="badge bg-secondary" *ngIf="ticket?.statut=='en attente'">{{ ticket?.statut}}</span>
                        <span class="badge bg-warning" *ngIf="ticket?.statut=='a faire'">{{ ticket?.statut }}</span>
                        <span class="badge bg-primary" *ngIf="ticket?.statut=='en cours'">{{ ticket?.statut }}</span>
                        <span class="badge bg-success" *ngIf="ticket?.statut=='resolu'">{{ ticket?.statut }}</span>
                    </p>
                    <p>Date : <span> {{ ticket?.date | date: 'dd/MM/yyyy HH:mm:ss'}}</span></p>
                    <p>Modifié: <span> {{ ticket?.dateModif | date: 'dd/MM/yyyy HH:mm:ss'}}</span></p>

                </div>
            </div>


        </div>
    </div>

    <div class="row" *ngIf="ticket?.feedBack">
        <h3 style="margin-top: 5px; margin-bottom: 5px;">
            Évaluation
        </h3>
        <div>
            <i class="lni lni-star-filled" *ngFor="let item of [].constructor(5); let index = index;"
                [ngStyle]="{'color':index<ticket?.feedBack?.note?'red':'' }" style="margin-bottom: 20px;"></i>
            <p>
                {{ticket?.feedBack?.commentaire}}
            </p>
        </div>
        <br>

    </div>


    <div class="row">
        <div class="col-sm">
            <h3>Description</h3>
            <div class="row">
                <div class="col-sm desc">
                    <textarea style="word-wrap: break-word;" class="form-control" id="exampleFormControlTextarea1"
                        disabled rows="8">{{ticket?.description}}
                    </textarea>
                </div>
            </div>
        </div>

        <div class="col-sm text-center">
            <h3>Pièce jointe</h3>

            <div style="margin: 10px;" class="row files" *ngIf="files && files.length>0;else vide">
                <div class="col-sm-2 file" *ngFor="let file of files" (click)='download(file)'>
                    <img src="../../../../assets/images/file.png">
                    <p>{{file}}</p>
                </div>
            </div>
            <ng-template #vide>
                <p> Il n'y a aucune pièce jointe
                </p>
            </ng-template>
        </div>
    </div>

    <div class="row">

        <div class="col-sm">
            <h3>Messages</h3>

            <table class="table">
                <tbody>
                    <tr *ngFor="let mail of mails">
                        <th scope="row" *ngIf="mail.from=='tunisys.mb.sj@gmail.com';else tuni">Tunisys
                        </th>
                        <ng-template #tuni>
                            <th>{{mail.name}}</th>
                        </ng-template>
                        <td>
                            {{mail.subject}}
                            <p style="word-wrap: break-word;  word-break: break-all;
                            " [innerHtml]="mail.body"></p>
                        </td>
                        <td>
                            <p>{{mail.date | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="col-sm">
            <h3 style="text-align: center;">Nouveau message</h3>
            <form [formGroup]="myForm" (ngSubmit)="envoyer()">
                <input type="text" class="form-control" name="email" id="email" formControlName="email"
                    placeholder="Destinataire">
                <input type="text" class="form-control" name="sujet" id="sujet" formControlName="sujet"
                    placeholder="Objet">
                <div class="form-group">
                    <textarea class="form-control" formControlName="text" id="desc"
                        placeholder="Rédigez votre rapport de résolution" rows="7"></textarea>
                    <div style="margin: 5px; background: #f5f5f5" *ngFor="let file of attachements">
                        <p style="color: #0066FF;">{{file}}</p>
                    </div>
                </div>

                <input type="file" name="file" id="file" multiple (change)="uploadMultiple($event)"
                    style="visibility: hidden;display: none;">
                <input class="btn btn-primary" type="submit" [disabled]="myForm.invalid" />
                <i class="lni lni-trash-can"></i>
                <label for="file"> <i class="lni lni-paperclip"></i></label>

            </form>
        </div>
    </div>


    <!-- width:90%; margin: 2px auto -->

</div>