<div class="container-fluid">


    <div (click)="rapport()" *ngIf="verifyCollab(employe?._id) || employe?._id==ticket?.employe?._id;else export"
        style="float: right;" class="btn btn-secondary">
        <i class="bx bx-file"></i>
        Rapport
    </div>

    <ng-template #export>
        <div [routerLink]="['/pdf/'+id]" style="float: right;" class="btn btn-secondary">
            Export
        </div>
    </ng-template>


    <div class="btn btn-secondary" *ngIf="verifyCollab(employe?._id)" (click)="quitter()"><i
            class="bx bx-log-out"></i>Quitter</div>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" *ngIf="employe?.role==2 && employe?._id==ticket?.employe?._id"
        data-toggle="modal" data-target="#invModal">
        <i class="lni lni-plus" style="font-weight: 800;"></i> inviter
    </button>
    <!-- Modal -->
    <div class="modal fade" id="invModal" tabindex="-1" role="dialog" aria-labelledby="invModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center" id="invModalLabel">Invitez des employes à rejoindre cette
                        ticket
                    </h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <ng-container *ngFor="let emp of employes">
                            <li *ngIf="!verifyCollab(emp._id) && employe?._id!= emp._id">
                                <i class="lni lni-user"></i>
                                <span> {{emp.nomEmp}} {{emp.prenomEmp}}
                                </span>
                                <span class="badge badge-primary" *ngIf="!verify(emp?._id);else annuler"
                                    (click)="envoyerNotif(emp._id)">Envoyer</span>
                                <ng-template #annuler>
                                    <div class="badge badge-primary" (click)="supprimer(emp._id)">Annuler</div>
                                </ng-template>
                            </li>
                        </ng-container>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm">
            <h1>{{ticket?.sujet}} <i *ngIf="employe?.role==0" [routerLink]="['/admin/tickets/update/'+ticket?._id]"
                    class="lni lni-pencil"></i></h1>


            <div class="row">
                <div class="info col-sm">
                    <p>Référence : <span>{{ticket?.ref}}</span></p>
                    <p>Nom : <span>{{ticket?.nomClient}}</span></p>
                    <p>Email : <span>{{ticket?.emailClient}}</span></p>
                    <p>Tel : <span>{{ticket?.telClient}}</span></p>
                    <p>Adresse : <span>{{ticket?.adresse}}</span></p>
                    <p>Site : <span>{{ticket?.siteWeb}}</span></p>

                </div>
                <div class="info col-sm">
                    <p>Département : <span>{{ticket?.departement?.nom}}</span></p>
                    <p>Employe : <span *ngIf="ticket?.employe">{{ticket?.employe?.nomEmp}}
                            {{ticket?.employe?.prenomEmp}}</span>
                        <span *ngIf="!ticket?.employe">---</span>
                    </p>

                    <p>Manuel : <span>{{ticket?.manuel}}</span> </p>
                    <p>Statut :
                        <span class="badge bg-secondary" *ngIf="ticket?.statut=='en attente'">{{ ticket?.statut}}</span>
                        <span class="badge bg-warning" *ngIf="ticket?.statut=='a faire'">{{ ticket?.statut }}</span>
                        <span class="badge bg-primary" *ngIf="ticket?.statut=='en cours'">{{ ticket?.statut }}</span>
                        <span class="badge bg-success" *ngIf="ticket?.statut=='resolu'">{{ ticket?.statut }}</span>
                    </p>
                    <p>Date : <span> {{ ticket?.date | date: 'dd/MM/yyyy HH:mm:ss'}}</span></p>
                    <p>Modifié: <span> {{ ticket?.dateModif | date: 'dd/MM/yyyy HH:mm:ss'}}</span></p>

                </div>
            </div>


        </div>
    </div>

    <div class="row" *ngIf="ticket?.feedBack">
        <h3 style="margin : 5px">
            Évaluation
        </h3>
        <br>
        <div>
            <i class="lni lni-star-filled" *ngFor="let item of [].constructor(5); let index = index;"
                [ngStyle]="{'color':index<ticket?.feedBack?.note?'red':'' }" style="margin-top: 10px;"></i>
            <p>
                {{ticket?.feedBack?.commentaire}}
            </p>
        </div>

    </div>


    <div class="row">
        <div class="col-sm">
            <h3>Description</h3>
            <div class="row">
                <div class="col-sm desc">
                    <textarea style="word-wrap: break-word;" class="form-control" id="exampleFormControlTextarea1"
                        disabled rows="8">{{ticket?.description}}
                    </textarea>
                </div>
            </div>
        </div>

        <div class="col-sm text-center">
            <h3>Pièce jointe</h3>

            <div style="margin: 10px;" class="row files" *ngIf="files && files.length>0;else vide">
                <div class="col-sm-2 file" *ngFor="let file of files" (click)='download(file)'>
                    <img src="../../../../assets/images/file.png">
                    <p>{{file}}</p>
                </div>
            </div>
            <ng-template #vide>
                <p> Il n'y a aucune pièce jointe
                </p>
            </ng-template>
        </div>
    </div>

    <div class="row">

        <div class="col-sm">
            <h3>Messages</h3>

            <table class="table" *ngIf="mails.length>0;else aucun">
                <tbody>
                    <tr *ngFor="let mail of mails">
                        <th scope="row" *ngIf="mail.from=='tunisys.mb.sj@gmail.com';else tuni">Tunisys
                        </th>
                        <ng-template #tuni>
                            <th>{{mail.name}}</th>
                        </ng-template>
                        <td>
                            {{mail.subject}}
                            <p style="word-wrap: break-word;  word-break: break-all;
                            " [innerHtml]="mail.body"></p>
                        </td>
                        <td>
                            <p>{{mail.date | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                        </td>
                    </tr>

                </tbody>
            </table>
            <ng-template #aucun>
                <p>
                    Il n'y a aucun message </p>
            </ng-template>
        </div>

        <div class="col-sm">
            <h3 style="text-align: center;">Nouveau message</h3>
            <form [formGroup]="myForm" (ngSubmit)="envoyer()" class="email">
                <input type="text" class="form-control" name="email" id="email" formControlName="email"
                    placeholder="Destinataire">
                <input type="text" class="form-control" name="sujet" id="sujet" formControlName="sujet"
                    placeholder="Objet">
                <div class="form-group">
                    <textarea class="form-control" formControlName="text" id="desc"
                        placeholder="Rédigez votre rapport de résolution" rows="7"></textarea>
                    <div style="margin: 5px; background: #f5f5f5" *ngFor="let file of attachements">
                        <p style="color: #0066FF;">{{file}}</p>
                    </div>
                </div>

                <input type="file" name="file" id="file" multiple (change)="uploadMultiple($event)"
                    style="visibility: hidden;display: none;">
                <input class="btn btn-primary" type="submit" [disabled]="myForm.invalid" />
                <i class="lni lni-trash-can"></i>
                <label for="file"> <i class="lni lni-paperclip"></i></label>
                <i class="bx bx-message-alt-detail" data-toggle="modal" data-target="#exampleModal"></i>


                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title w-100 text-center" id="exampleModalLabel">Réponse prédéfinies
                                </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="new col-sm-4">
                                        <p>+ Créér nouveau</p>
                                        <form [formGroup]="formReponse" (ngSubmit)="ajouterReponse()">
                                            <input type="text" class="form-control" name="titreReponse"
                                                id="titreReponse" formControlName="titreReponse" placeholder="Titre">
                                            <textarea class="form-control" formControlName="textReponse"
                                                id="textReponse" placeholder="Text" rows="5"></textarea>
                                            <input type="submit" class="btn btn-secondary" value="Ajouter"
                                                [disabled]="formReponse.invalid"
                                                style="margin-top: 15px; margin-left: 75px;" />
                                        </form>
                                    </div>
                                    <div class="col-sm-8">


                                        <div class="card" *ngFor="let reponse of reponses"
                                            style="width: 200px; height: 90px;  display: inline-block;">
                                            <i class="lni lni-trash-can" style="cursor: pointer;"
                                                (click)="supprimerReponse(reponse._id)"></i>

                                            <div class="card-body">
                                                <h4 class="card-title text-left" style="font-weight: 500;">
                                                    {{reponse.titre}}
                                                </h4>
                                                <div class="btn-sm "
                                                    style="margin-left: -20px; width: 198px;text-align: center;"
                                                    data-dismiss="modal" (click)="inserer(reponse.text)">+
                                                    Insérer
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>



                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>



    <form [formGroup]="formTag" *ngIf="employe?.role==2" style="width: 50%;" (ngSubmit)="enregistrer()">

        <span *ngFor="let fruit of filtredTags" class="badge badge-light" (click)="selected(fruit)">{{fruit}}</span>

        <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Ajouter tag</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                    {{tag}}
                    <button matChipRemove>
                        <i class="lni lni-close"></i>
                    </button>
                </mat-chip>
                <input placeholder="Nouveau ..." #tagInput [formControl]="tagsCtrl" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>

        </mat-form-field>
        <input class="btn btn-primary" [disabled]="formTag.invalid" value="Enregistrer" type="submit" />


    </form>

    <div class="row">
        <div class="col-sm-6">
            <textarea type="text" [formControl]="raison" placeholder="Raison *" class="form-control" name="raison"
                id="raison" rows="7"> </textarea>
            <input class="btn btn-primary" type="button" (click)="reclamer()" [disabled]="raison.invalid"
                *ngIf="employe?.role==2" value="Reclamer" />

        </div>
    </div>


</div>