*::first-letter {
    text-transform: uppercase;
}

h1,
h3 {
    margin: 25px 0px;
}

.inbox {
    margin: 80px 0px;
}

.container {
    margin-left: 190px;
    margin-top: 50px;
}
.row{
    margin-bottom: 20px;
}

.info {
    background: #fafafa;
    padding: 20px;
    margin-bottom: 5px;
}

p {
    position: relative;
    color: grey;
    font-size: 12px;
    font-weight: 400;
}


 .info span {
    position: absolute;
    left: 100px;
    color: black;
    font-size: 12px;
}



textarea:disabled,
.desc {
    cursor: default;
    background-color: #fafafa;
    color: black;
    border-color: #fafafa;
}


i {
    font-size: 15px;
    margin: 5px;
}

.info .badge{
    width:75px;
    color: white;
    font-weight: 500;
}

.bg-primary {
    background-color: #5DADE2 !important;
}

.bg-warning {
    background-color: #F5B041 !important;
}


form i , label {
    cursor: pointer;
    float: right;
}

.file {
    cursor: pointer;
    padding: 5px;
    text-align: center;
    margin: 8px;
}

.file img {
    width: 50px;
    height: 50px;
}

textarea {
    border: none;
    border-radius: 1px;
}

textarea:focus,
textarea.form-control:focus {
    box-shadow: inset 0 -1px 0 white;

}

.form-group {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
    margin-bottom: 10px;
}

th,td{
    vertical-align:middle

}





/* i {
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
    color: black;
} */
.example-chip-list {
    margin-top: 25px;
    width: 100%;
  }


.badge{
    font-size: 15px;
    font-weight: 400;
    background: white;
    color: black;
    margin:5px 5px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .badge:hover{
    background-color: #17a2b8;
    color: white;
  }

.lni-close{
    font-size: 10px;
    font-weight: 500;
    color: black;
}