
<app-sidebar></app-sidebar>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ticket?.sujet}}</h1>

            <div class="row">
                <div class="info col-sm">
                    <p>Référence : <span>{{ticket?.ref}}</span></p>
                    <p>Nom : <span>{{ticket?.nomClient}}</span></p>
                    <p>Email : <span>{{ticket?.emailClient}}</span></p>
                    <p>Tel : <span>{{ticket?.siteWeb}}</span></p>
                    <p>Adresse : <span>{{ticket?.adresse}}</span></p>
                    <p>Site : <span>{{ticket?.siteWeb}}</span></p>

                </div>
                <div class="info col-sm">
                    <p>Département : <span>{{ticket?.departement?.nom}}</span></p>
                    <p>Employe : <span>---</span> </p>
                    <p>Manuel : <span>{{ticket?.manuel}}</span> </p>
                    <p>Statut : <span>{{ticket?.statut}}</span></p>
                    <p>Date : <span>{{ticket?.date }} </span></p>
                </div>
            </div>

            <h3>Description</h3>
            <div class="row">
                <textarea class="form-control" id="exampleFormControlTextarea1" disabled rows="4">
                        {{ticket?.description}}
                    </textarea>
            </div>

            <h3>Pièce jointe</h3>
            <div class="row files">
                <div class="col-sm2 file" *ngFor="let file of files" (click)='download(file)'>
                    <img src="../../../../assets/images/file.png">
                    <p>{{file}}</p>
                </div>
            </div>


            <form [formGroup]="myForm" (ngSubmit)="envoyer()">
                <input type="text" class="form-control" formControlName="email" placeholder="Destinataire">
                <input type="text" class="form-control" formControlName="sujet" placeholder="Objet">
                <div class="form-group">
                    <textarea class="form-control" formControlName="text" id="desc"
                        placeholder="Rédigez votre rapport de résolution" rows="7"></textarea>
                </div>

                <label for="file" style="cursor: pointer;"> <i class="lni lni-paperclip"></i></label>
                <input type="file" name="file" id="file" multiple (change)="uploadMultiple($event)"
                    style="visibility: hidden;display: none;">

                <input class="btn btn-primary" type="submit" />
            </form>


            <div *ngFor="let mail of mails" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <h1>{{mail.subject}}</h1>
                <p>{{mail.name}}<span>{{mail.fom}}</span></p>
                <div style="line-break: loose" [innerHtml]="mail.body"></div>
                <p>{{mail.date}}</p>

            
            </div>

        </div>


    </div>

</div>