*::first-letter {
  text-transform: uppercase;
}

.container {
  margin-left: 175px;
  margin-top: 50px;
}

table,
td,
th {
  text-align: center;
}


table th {
  font-weight: 500;
  background-color: #1a5276;
  color: white;
}

table tr:hover {
  background-color: #ddd;
}

td:first-child {
  text-align: left;
}

.name::first-letter {
  text-transform: uppercase;
}


i {
  margin: 5px;
  font-weight: bold;

}

.lni-pencil {
  color: #4bca81;
  font-size: 20px;
}

.lni-trash-can {
  color: #e71d34;
  font-size: 20px;
}

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding-top: 6px;

  color: #ffff;
  text-align: center;
  font: 22px Arial, sans-serif;
}

.paginator{
  position: fixed;
  bottom: 50px;
  left: 40%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.paginator /deep/ .ngx-pagination .current {
  background: #1a5276;
  border-radius: 4px;
  padding-left: 9px;
  padding-right: 9px;
}

.paginator /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #d4d4d4;
  border-radius: 3px;
 
}

.paginator /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
  outline: none;
  background: #d4d4d4;
}