*::first-letter {
  text-transform: uppercase;
}

h1 {
  color: black;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 35px 0px;

}




i {
  cursor: pointer;
}


table td {
  font-weight: 400;
  vertical-align: middle;
}





table th {
  font-weight: 500;
  background-color: #1E8697;

  color: white;
}

table tr:hover {
  background-color: #ddd;
}

table,
td,
th {
  text-align: center;
  vertical-align: middle;
}

table td {
  height: 50px;
}


i {
  margin: 5px;
  font-weight: bold;
  font-size: 15px
}





.lni-trash-can {
  color: #e71d34;
}



.paginator {
  text-align: center;
  left: 40%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.paginator /deep/ .ngx-pagination .current {
  background: #1a5276;
  border-radius: 4px;
  padding-left: 9px;
  padding-right: 9px;
}

.paginator /deep/ .ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #d4d4d4;
  border-radius: 3px;

}

.paginator /deep/ .ngx-pagination a:focus,
.ngx-pagination button:focus {
  outline: none;
  background: #d4d4d4;
}

  
  table tr:hover {
    background-color: #ddd;
  }
  
  td:first-child {
    text-align: left;
  }
  
  .name::first-letter {
    text-transform: uppercase;
  }
  

  
a{
    color: black;
    text-decoration: none;
}

.raison{
  height: 100%;
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgray;
}

i {
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;

}
.lni-trash-can {
  color: #e71d34;
}
