form {
    width: 90%;
    margin: 10px auto;
}

h1 {
    color: black;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    text-align: center;
    margin-bottom: 30px;
  }
  

.file {
    padding: 5px;
    text-align: center;
    margin: 5px;
}

.upload {
    border: 2px dotted grey;
    text-align: center;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.btn-secondary {
    background-color: #E5E8E8;
    border: none;
    color: black;
    font-weight: normal;
    font-size: 15px;
}


*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
}

.file img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.file p {
    cursor: pointer;
}

.lni-close {
    font-size: 10px;
    color: #cc0033;
    font-weight: bold;
}

span {
    color: grey;
}

.form-control:focus .btn:focus {
    box-shadow: none;
}

.badge {
    color: white;
    padding: 5px 20px;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0px 5px ;
}

small {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    ;
  }