<div class="main">
    <h2>Tunisys</h2>


    <div class="loginbox">
        <h3>Problèmes de connexion</h3>
        <form [formGroup]="myForm" (ngSubmit)="envoyer()">
            <span>
                <i class="lni lni-user"></i>
                <input type="email" formControlName="email" placeholder="Email *" name="email" id="email">
            </span><br>

            <button [disabled]="myForm.invalid" type="submit">Envoyer un lien de réinitialisation</button>

            <a [routerLink]="['/login']">Revenir à l'écran de connexion</a>
        </form>
        <small id="error" *ngIf="error!=''">{{error}}</small>

    </div>
</div>