<div class="container-fluid">

    <h1>Département</h1>
    <div class="btn btn-dark" data-toggle="modal" (click)="reset()" data-target="#ajouterDep">Créer</div>

    <div class="row list" *ngIf="(departements.length>0);else vide">

        <div class="col-md-3" *ngFor="let departement of departements">
            <div class="card">
                <h2>{{departement.nom}}</h2>
                <p>Employés <span style="float: right;">{{departement.employes?.length}}</span></p>
                <p>Tickets <span style="float: right;">{{departement.tickets?.length}}</span></p>
                <div class="icon">
                    <i class="lni lni-pencil" data-toggle="modal" data-target="#modifierDep"
                        (click)="selectDepartement(departement)"></i>
                    <i class="lni lni-trash-can" data-toggle="modal" data-target="#modalDelete"(click)="selectDepartement(departement)"></i>

                </div>

            </div>
        </div>
    </div>
    <ng-template #vide>
        <h3 class="text-center">Il n'y a pas de département.</h3>
    </ng-template>
</div>



<!-- Ajouter -->
<div class="modal fade" id="ajouterDep" tabindex="-1" role="dialog" aria-labelledby="ajouterDepLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="ajouterDepLabel">Créer département</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="myForm" (ngSubmit)="ajouter()">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="nom" class="col-form-label">Nom:</label>

                        <input type="text" formControlName="nom" placeholder="Nom *" class="col-md form-control"
                            name="nom" id="nom">
                        <small *ngIf=" nom.invalid && nom.touched && nom.dirty">Titre incorrect</small>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" type="submit" [disabled]="myForm.invalid"
                        class="btn btn-primary" >Créer</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modifier -->
<div class="modal fade" id="modifierDep" tabindex="-1" role="dialog" aria-labelledby="modifierDepLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modifierDepLabel">Modifier département</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="myForm" (ngSubmit)="modifier()">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="nom" class="col-form-label">Nom:</label>

                        <input type="text" formControlName="nom" placeholder="Nom *" class="col-md form-control"
                            name="nom" id="nom">
                        <small *ngIf=" nom.invalid && nom.touched && nom.dirty">Titre incorrect</small>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" type="submit" [disabled]="myForm.invalid"
                        class="btn btn-primary">Modifier</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div  class="modal fade" id="modalDelete"  tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modalDelete">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <div class="modal-body p-0">
                <div class="card border-0 p-sm-3 p-2 justify-content-center">
                    <div class="card-header pb-0 bg-white border-0 ">
                        <div class="row">
                            <div class="col ml-auto"><button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close"> <span
                                        aria-hidden="true">&times;</span> </button></div>
                        </div>
                        <p class="font-weight-bold mb-2"> Voulez-vous vraiment supprimer ce departement</p>
                        <p class="text-muted ">Attention ce changement est irréversible</p>
                    </div>
                    <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                        <div class="row justify-content-end no-gutters">
                            <div class="col-auto"><button type="button"
                                    class="btn btn-light text-muted"
                                    data-dismiss="modal">Annuler</button></div>
                            <div class="col-auto"><button type="button"
                                    (click)="supprimer(departement?._id)"
                                    class="btn btn-danger px-4"
                                    data-dismiss="modal">Supprimer</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>