
<div class="container-fluid">
    <h3 style="text-align: center">Modifier un employé</h3>
    <form [formGroup]="myForm" (ngSubmit)="modifier()">
        <div class="row">

            <div class="col-lg-6">
                <div class="form-group">
                    <input type="text" formControlName="prenom" placeholder="Prénom *" class="form-control"
                        name="prenom" id="prenom">
                    <small> <span *ngIf="prenom.invalid && prenom.touched && prenom.dirty"> le champs prenom ne doit
                            contenir que des lettres</span></small>
                </div>

                <div class="form-group">
                    <input type="text" formControlName="nom" placeholder="Nom *" class="form-control" name="nom"
                        id="nom">
                    <small> <span *ngIf="nom.invalid && nom.touched && nom.dirty"> le champs nom ne doit contenir que
                            des lettres</span></small>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="cin" placeholder="CIN *" class="form-control" name="cin"
                        id="cin">
                    <small> <span *ngIf=" cin.invalid && cin.touched && cin.dirty"> Votre CIN est
                            invalide</span></small>

                </div>

                <div class="form-group">
                    <input type="email" formControlName="email" placeholder="Email *" class="form-control" name="email"
                        id="email">
                    <small> <span *ngIf=" email.invalid && email.touched && email.dirty"> Veuillez entrer une adresse
                            e-mail valide</span></small>

                </div>


            </div>

            <div class="col-lg-6">
                
                <div class="form-group">
                    <input type="text" formControlName="tel" placeholder="Téléphone *" class="form-control" name="tel"
                        id="tel">
                    <small> <span *ngIf=" tel.invalid && tel.touched && tel.dirty"> Veuillez entrer un numero de
                            telephone valide</span></small>

                </div>
                <div class="form-group">

                    <select class="form-control" formControlName="role" (change)="changeValue()" [attr.disabled]="true">
                        <option value="0" [selected]="employe?.role==0">Admin</option>
                        <option value="1" [selected]="employe?.role==1">Assistant</option>
                        <option value="2" [selected]="employe?.role==2">Agent</option>
                    </select>


                    <small> <span *ngIf=" role.invalid && role.touched && role.dirty"> Veuillez selectionnez un
                            role</span></small>
                </div>

                <div class="form-group">
                    <select class="form-control" formControlName="departement"
                        [attr.disabled]="role.value==0 || role.value==1 ? '' : null">
                        <option value="" disabled hidden selected>Sélectionnez un departement</option>
                        <option *ngFor="let dep of departements" [selected]="employe?.departement?._id==dep._id"
                            value="{{dep._id}}">{{dep.nom}}</option>
                    </select>


                    <small> <span *ngIf=" departement.invalid && departement.touched && departement.dirty"> Veuillez
                            selectionnez un departement</span></small>


                </div>
            </div>

        </div>

        <div class="text-center">
            <input class="btn btn-primary" style="margin-top: 25px; width: 20%;" [disabled]="myForm.invalid"
                value="Modifier" type="submit" />
        </div>
    </form>
</div>