<div class="container contenu">
    <h2 class="page-title">Utilisateurs</h2>
    <div class="btn btn-dark" (click)="toAdd()">Créer un utilisateur </div>
    <br><br>
    <table *ngIf="(users.length>0);else vide" class="table ">
        <thead>
            <tr class="home">
                <th>CIN</th>
                <th>Nom complet</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Code</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let user of users">
                <td>{{user.cin }}</td>
                <td>{{ user.displayName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td> {{ user.adresse }}</td>
                <td> {{ user.codeP }}</td>
                <td> {{ user.role }}</td>
                <td><i class="fas fa-edit"></i>
                    <i class="fa fa-trash"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #vide>
        <h3 class="text-center">Il n'y a pas d'utilisateurs.</h3>
    </ng-template>


</div>