<div class="container contenu">
    <h2 class="page-title">Mes Ticket</h2>
    <br><br>
    <table *ngIf="(tickets.length>0);else vide" class="table ">
        <thead>
            <tr class="home">
                <th>Sujet</th>
                <th>Client</th>
                <th>date</th>
                <th>Description</th>
                <th>Date de modification</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let ticket of tickets">
                <td> {{ ticket.sujet }}</td>
                <td> {{ ticket.nomClient }}</td>
                <td> {{ ticket.date | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td> {{ ticket.description }}</td>
                <td> {{ ticket.dateModif | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>
                    <!-- <i *ngIf="ticket.status=='nouveau'" class="lni lni-check-box" (click)="onConfirm(ticket._id)"></i> -->
                    <i class="lni lni-more-alt" (click)="toMore(ticket._id)"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #vide>
        <h3 class="text-center">Il n'y a pas de ticket.</h3>
    </ng-template>


</div>

<app-sidebar></app-sidebar>