<div class="main">

    <img src="../../../assets/images/LogoSample_ByTailorBrands__1_-removebg-preview.png" alt="" srcset="">

    <div class="loginbox">
        <h1>Se connecter</h1>
        <form [formGroup]="myForm" (ngSubmit)="onLogin()">
            <span>
                <i class="lni lni-user"></i>
                <input type="email" formControlName="email" placeholder="Email *" name="email" id="email">
            </span><br>
            <span>
                <i class="lni lni-lock"></i>
                <input [type]="show ? 'text' : 'password'" formControlName="mdp" placeholder="Mot de passe *"
                    name="password" id="password">
                <i (click)="change()" [ngClass]="(show==true)?'bx bx-low-vision':'lni lni-eye'"></i>

            </span>
            <button [disabled]="myForm.invalid" id="btn" type="submit">Se connecter</button>

            <a [routerLink]="['/oublie']">Mot de passe oublié</a>
        </form>
        <small id="errorLog" *ngIf="error==true">Votre email ou votre mot de passe est incorrect </small>

    </div>
</div>