input{
    border: 1px solid grey;
    background-color: #fafafa;
    margin-bottom: 0px;
    height: 34.5px;
    color: #21618C;
  }
  
  .btn {
    margin-left: 2px;
    border-left: none;
    margin-top: -5px;
    border-radius: 0;
  }
  
  mat-form-field{
    width: 25%;
  }

  
  ::ng-deep .mat-form-field .mat-input-element {
    color: black;
  }
  ::ng-deep .mat-form-field .mat-form-field-label {
    color: grey;
  }
  ::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: transparent;
  }
  ::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: transparent;
  }
  ::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: transparent;
  }
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: transparent;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
    color: transparent;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: black;
  }
  