<div class="container" style="margin-top: 50px;">
    <h3 style="text-align: center;margin-bottom: 50px;">Créer un employé</h3>

    <form [formGroup]="myForm" (ngSubmit)="ajouter()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" formControlName="prenom" placeholder="Prénom *" class="col-md form-control"
                        name="prenom" id="prenom">
                        <small *ngIf=" prenom.invalid && prenom.touched && prenom.dirty">Prénom incorrect</small>
                    </div>
                <div class="form-group">
                    <input type="text" formControlName="nom" placeholder="Nom *" class="form-control" name="nom"
                        id="nom">
                        <small *ngIf=" nom.invalid && nom.touched && nom.dirty">Nom incorrect</small>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="cin" placeholder="CIN *" [ngClass]="{'form-control--loading':cin.pending}" class="form-control" name="cin"
                        id="cin">
                        <small *ngIf=" cin.invalid && cin.touched && cin.dirty">CIN incorrect</small>
                </div>
                <div class="form-group">
                    <select class="form-control" formControlName="departement">
                        <option value="" disabled hidden selected>Sélectionnez un departement</option>
                        <option *ngFor="let dep of departements" value="{{dep._id}}">{{dep.nom}}</option>
                    </select>
                    <small *ngIf=" departement.invalid && departement.touched && departement.dirty">Rôle incorrect</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" formControlName="email" placeholder="Email *" class="form-control" name="email"
                        id="email">
                        <small *ngIf=" email.invalid && email.touched && email.dirty">Email incorrect</small>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="mdp" placeholder="Mot de passe *" class="form-control"
                        name="mdp" id="mdp"> 
                        <small *ngIf=" mdp.invalid && mdp.touched && mdp.dirty">Mot de passe incorrect</small>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="tel" placeholder="tel *" class="form-control"
                        name="tel" id="tel">
                        <small *ngIf=" tel.invalid && tel.touched && tel.dirty">tel incorrect</small>
                </div>
                <div class="form-group">
                    <select class="form-control" formControlName="role">
                        <option value="" disabled hidden selected>Sélectionnez un rôle</option>
                        <option value="0">Admin</option>
                        <option value="1">Assistant</option>
                        <option value="2">Agent</option>
                    </select>
                    <small *ngIf=" role.invalid && role.touched && role.dirty">Rôle incorrect</small>
                </div>
                
                <div>
                    <input class="btn btn-dark" [disabled]="myForm.invalid" value="Ajouter" type="submit"/>
                </div>

            </div>

        </div>
    </form>
</div>

<app-sidebar></app-sidebar>
