.container {
  margin-left: 190px;
  margin-top: 50px;
}

.column {
  width: 300px;
  max-width: 100%;
  min-height: 500px;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h2 {
  text-align: left;
  color: #BFC9CA;
  margin-top: 25px;
  font-weight: 500;
  margin: 5px;
}

.list {
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  margin-top: 25px;
}



.item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  /* cursor: grab; */
  cursor: pointer;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



.list.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.btn {
  margin: 25px 0px;
}

i {
  float: right;
  font-size: 15px;
  cursor: default;
}



.badge {
  text-transform: uppercase;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 12px;
  bottom: 0px;
  margin: 2px;
  position: relative;
  cursor: default;

}

::ng-deep .tooltip-inner {
  background-color: grey;
}